Binaries
DerivedDataCache
Intermediate
Saved/*
!Saved/MovieRenders
Saved/MovieRenders/*
!Saved/MovieRenders/rename.py
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace